@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazirmatn-Regular.woff2');
}
* {
    box-sizing: border-box;
}
.gradient-custom {
    background: #6a11cb;
    background: -webkit-linear-gradient(
        to right,
        rgba(106, 17, 203, 1),
        rgba(37, 117, 252, 1)
    );
    background: linear-gradient(
        to right,
        rgba(106, 17, 203, 1),
        rgba(37, 117, 252, 1)
    );
}
label {
    color: #454545;
}
#output {
    font-family: 'vazir';
}
textarea {
    height: 8rem !important;
    direction: rtl;
}
